PORT=
MONGO_URI=


#--------------------JWT CONFIGURATION----------------------#

#--------------------JWT_KEY GENERATION SYNTAX--------------#
# node -e "console.log(require('crypto').randomBytes(256).toString('hex'))"

JWT_KEY=
JWT_LIFETIME=